@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #2c2b2b;
  --white: #faf5f5;
  --red: #e54b4b;
  --green: #4c956c4b;
}
.App {
  text-align: center;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.bgMain {
  background-image: url("/public/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
/* Header  */
.header {
  margin: 1rem 0.4rem;
}
h1 {
  font-size: clamp(2.3rem, 6vw, 7rem);
  letter-spacing: 2px;
  margin-top: 2rem;
  font-family: "Pacifico", cursive;
}
h1:hover {
  cursor: default;
}
.headerInput {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 2rem 0;
  height: 3rem;
}
.headerInput input {
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  letter-spacing: 1px;
  font-weight: 700;
  overflow: auto;
}
.headerInput button {
  font-size: 1.4rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0 10px 10px 0px;
}
.headerInput button:hover {
  background-color: var(--green);
  color: var(--black);
  cursor: pointer;
}

/* To Do List */
.toDoList {
  display: grid;
  gap: 1.5rem;
  margin: 2rem 0.4rem;
}
/* To Do Item */
.toDoItemContainer {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  max-width: 50rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 7px 7px 15px 5px rgba(44, 43, 43, 0.507);
}
.toDoItemContainer h2 {
  text-align: left;
}
.toDoItemContainer:hover {
  box-shadow: 6px 6px 13px 4px rgba(10, 10, 10, 0.616);
}
.toDoItemContainer h2:hover {
  cursor: default;
}
.toDoItemText {
  padding: 0.5rem 0.8rem;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
}
.toDoItemContainer button {
  border: none;
  border-radius: 0 10px 10px 0;
}
.toDoItemContainer button:hover {
  cursor: pointer;
  color: var(--red);
  font-weight: 700;
  text-decoration: underline;
  background-color: #dabfbf;
}
.editInput {
  display: grid;
}
.editInput input {
  border: none;
  outline: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  padding: 0.5rem 0.8rem;
  border-radius: 10px 10px 0 0;
  overflow: auto;
}
.editInput button {
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0 0 10px 10px;
}
.editInput .saveBtn:hover {
  background-color: var(--green);
  color: var(--black);
}
/* Media queries */
@media only screen and (min-width: 45rem) {
  body {
    background-color: rgba(255, 192, 203, 0.342);
  }
  .toDoItemContainer {
    width: 44rem;
    margin: 0 auto;
  }
  .headerInput {
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
  }
}
